BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes: false
IncludeBlocks: Preserve